doctype html
html(lang="en")
  head
    title Cloud coverage
  body
    img(src="cloud_images/current.png", style="max-width:50%; float:left")
    img(src="cloud_images/clouds_classified.png", style="max-width:50%; float:right; background-color:black;")
    h1!= coverage
    h2!= timestamp
